SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,backend,nginx,0.0.0.0
CORS_ALLOWED_ORIGINS=http://localhost,http://localhost:3000,http://127.0.0.1:3000
CSRF_TRUSTED_ORIGINS=http://localhost,http://localhost:3000,http://127.0.0.1:3000
DB_NAME=qa_ai_platform
DB_USER=postgres
DB_PASSWORD=root
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
OLLAMA_API_URL=http://host.docker.internal:11434/api/generate
OLLAMA_MODEL=qwen2.5:7b
OPENAI_API_KEY=
